.particle__container {
  background: #000;
  width: 100%;
  min-height: 450px;
  color: #fff;
  text-align: center;
  padding: 25px;
  position: relative;
  overflow: hidden;
}

.explosion {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.explosion .particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pop 1s forwards;
}

@keyframes pop {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}